-var moves= {rock: "./images/icon-rock.svg", paper:"./images/icon-paper.svg", scissor:"./images/icon-scissor.svg", lizard:"./images/icon-lizard.svg", spock:"./images/icon-spock.svg"}

mixin img-item(s, a, c)
  .icon-container(class=a+"-icon-container"+" move"): img(src=s alt=a class=c)