-var moves= {rock: "src/images/icon-rock.svg", paper:"src/images/icon-paper.svg", scissor:"src/images/icon-scissor.svg", lizard:"src/images/icon-lizard.svg", spock:"src/images/icon-spock.svg"}

mixin img-item(s, a, c)
  .icon-container(class=a+"-icon-container"+" move"): img(src=s alt=a class=c)