main
  .main-container.inactive
    .icon-container.pentagon-icon-container
      img(src="./src/images/bg-pentagon.svg" alt="pentagon" class="pentagon")
      each img, move in moves
        +img-item(img, move, "icon-container__"+move+"-icon"+" icon-container__icon")

  include ./match-section.pug
  button.dark-button RULES