section.match-section.inactive
  section.match-section__user-pick-container.match-section__pick-container
    h3 YOU PICKED
    picture
      img

  section.match-section__results-container.inactive
    h2 YOU LOSE
    button.light-button.button#btnPlayAgain PLAY AGAIN

  section.match-section__pc-pick-container.match-section__pick-container
    h3 THE HOUSE PICKED
    //- picture.spock-icon-container.icon-container--winner
    picture
      img
