section.match-section
  section.match-section__user-pick-container
    h3 YOU PICKED
    picture
      img(src="./src/images/icon-scissors.svg" alt="user pick")

  section.match-section__results-container
    h2 YOU LOSE
    button PLAY AGAIN

  section.match-section__pc-pick-container
    h3 THE HOUSE PICKED
    picture
      img(src="./src/images/icon-spock.svg" alt="pc pick")