section.rules-section.inactive
  div.rules-section__container
    h1 RULES
    img(src="./src/images/image-rules-bonus.svg" alt="game rules" class="rules-section__container__rules")
    img(src="./src/images/icon-close.svg" alt="icon close" class="btn-close")