.button{
  padding: 10px 41px 10px 45px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 4px;
  font-size: 0.75rem;
}

.light-button, .dark-button:hover{
  color: $dark-text;
  background-color: $light-color;
  border: none;
}

.dark-button, .light-button:hover{
  border: 1px solid $light-color;
  color: $light-color;
  background-color: transparent;
}
