@media (min-width: 580px) {
  .match-section__pick-container picture{
    border-width: 25px;
  }
  html{
    font-size: 18px;
  }
}
@media (min-width: 830px) {
  html{
    font-size: 22px;
  }
  .match-section{
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    &__results-container{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &__pc-pick-container{
      grid-column: 3 / 4;
    }
    &__pick-container {
      h3{
        order: 0;
      }
    }
  }
  main .main__button{
    left: 100%;
    transform: translateX(-100%);
  }
  .rules-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(59,66,98,.5);

    &__container{
      width: auto;
      height: auto;
      padding: 30px;
      border-radius: 10px;
      h1{
        text-align: left;
      }
      &__rules{
        position: static;
      }
      .btn-close{
        transform: none;
        top: 45px;
        left: auto;
        right: 38px;
      }
    }
  }
}

@media (min-width: 1100px){
  body{
    padding: 45px;
  }
  .match-section .match-section__pick-container picture{
    max-width: 300px;
    max-height: 300px;
    border-width: 30px;
  }
}
